/* */

* {
	margin:0;
	padding:0;
}

html {
	overflow-y:scroll;
}

html, body {
	width:100%;
	height:100%;
	font-family: 'Roboto', sans-serif;
	background:#ffffff;
}

#header-wrap {
	position:relative;
	margin:0 auto;
	width:80%;
	max-width: 960px;
}

.content-wrap {
	position:relative;
	margin:0 auto;
	width:80%;
	height:100%;
	max-width: 960px;
}

header {
	position:relative;
	margin-bottom: 80px;
	top:0;
	left:0;
	width:100%;
	height:80px;
	background: #fff;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.05);
}

h1 {
	font-family:'Roboto', sans-serif;
}

#header-wrap > h1 {
	position: relative;
	top:23px;
	float: left;
	color:#222228;
}

#header-wrap > h1 > .name {
	color:#222228;
	text-decoration: none;
}

#desc-lft > h1 {
	float: left;
	clear:left;
}

#desc-rt > h1 {
	float: left;
	clear:left;
}

p {
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
	float:left;
	clear:both;
	line-height: 20px;
	color:#778899;
}

/* Begin Nav Link */

nav {
	position: relative;
	top:42px;
	float:right;
}

.nav-link {
	position: relative;
	margin-right: 20px;
}

.nav-link:last-child {
	margin-right:0px;
}

.nav-link > a {
	position:relative;
	text-decoration: none;
	color:#1E90FF;
}

.nav-link > a::after {
	position: absolute;
	bottom:0;
	left:0;
	width:0;
	height:2px;
	background: #1E90FF;
	content:'';
	-webkit-transition:all 0.2s linear;
	transition:all 0.2s linear;
}

.nav-link > a:hover::after {
	width:100%;
}

/* End Nav Link */

/* Begin Text Link */

.text-link {
	position: relative;
	float:left;
	margin-right: 20px;
}

.text-link > a {
	text-decoration: none;
	color:#1E90FF;
}

.text-link > a::after {
	position: absolute;
	top:130%;
	left:0;
	width:100%;
	height:2px;
	background: #1E90FF;
	content:'';
	opacity:0;
	-webkit-transition:all 0.1s linear;
	transition:all 0.1s linear;
}

.text-link > a:hover::after {
	top:100%;
	opacity:1;
}

/* End Text Link */

.contact > a{
	color:#1E90FF;
	text-decoration: none;
}

.sec {
	position: relative;
	display: block;
	/*
	margin-bottom:80px;
	padding-bottom: 20px;
	*/
	width: 100%;
	min-height:100px;
	overflow:hidden;
}

.sec-wht {
	background:#fff;
	padding:80px 0;
}

#desc-lft {
	padding-top:20px;
	float:left;
	width:325px;
}

#desc-lft > .about {
	width:500px;
}

#desc-rt {
	padding-top:20px;
	float:right;
	width:325px;
}

.img-left {
	float:left;
}

.img-rt {
	float:right;
	margin-right:10px;
}

img.resize{
	max-width:60%;
	max-height:60%;
}

img {
	min-width:300px;
}

footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
	text-align: center;
	line-height:40px;
	background:#ffffff;
	color:#ccc;
	font-size: 12px;
}

@media screen and (max-width: 1050px) {
    img.resize {
    	max-width:50%;
   		max-height:50%;
    }
}

@media screen and (max-width: 830px) {
    #header-wrap > h1 {
    	float:none;
    	text-align: center;
    }
    #header-wrap {
    	width:100%;
    }
    .content-wrap {
    	width:100%;
    }
    .sec {
    	padding-left: 0;
    }
    nav {
    	float:none;
    	text-align: center;
    }
    .img-rt {
    	display: block;
    	float:none;
    	margin:auto;
    	clear:left;
    }
    .img-lft {
    	display: block;
    	float:none;
    	margin:auto; 
    }
    header {
    	height:120px;
    }
    #desc-lft {
    	float:none;
    	margin:auto;
    	width:300px;
    }
    #desc-lft > .about {
		width:300px;
	}
    #desc-rt {
    	float:none;
    	margin:auto;
    	width:300px;
    }
}
